{% load socialaccount %}
<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>My Django Blog</title>
    <link type="text/css" rel="stylesheet" href="{% static 'django_blog.css' %}"
  </head>
  <body>
    <div id="header">
      <ul id="control-bar">
          {% if user.is_authenticated %}
              <li>Hello {{ user.username }} </li>
              {% if user.is_stafe %}
                  <li>
                      <a href="{% url 'admin.index' %}">admin</a>
                  </li>
              {% endif %}
              <li>
                  <form id="frm_logout" method="POST" action="{% url 'logout' %}">
                      {% csrf_token %}
                      <a href="javascript:$('#frm_logout').submit();">logout</a>
                  </form>
              </li>
          {% else %}
          <li>
              <a href="{% url 'account_login' %}">login</a>
          </li>
          <!-- GitHub Login Button -->
          <li>
              <a href="{% provider_login_url 'github' %}" class="github-login">
                  <img src="https://github.com/favicon.ico" alt="GitHub Login"> Login with GitHub
              </a>
          </li>
          {% endif %}
      </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <div id="container">
      <div id="content">
      {% block content %}
       [content will go here]
      {% endblock %}
      </div>
    </div>
  </body>
</html>